*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
}

body{
    background-image: url(background.png.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div img{
    width: 200px;
    margin-left: 25%;
    margin-top: 50px;
}

.login{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    background-color: #ed13b67b;
    margin: 0%;
}

.login h1{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: larger;
}

.login hr{
    color: #fff;
    width: 90%;
    margin-bottom: 30px;
}

.login form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.login label{
    margin-bottom: 10px;
    color: #fff;
}

.login input{
    padding: 12px 10px;
    margin-bottom: 20px;
}

.login a{
     color: black;
     margin-bottom: 20px;
     text-decoration: none;
     align-self: flex-end;
}

.btn{
    background-color: black;
    color: #fff;
    margin-bottom: 0%;
}